img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.touchy-logo-wrapper {
    background-color: ;
}

.touchy-logo-wrapper {
    background-color: ;
}

.touchy-logo a {
    color: ;
}

.touchy-logo a:hover {
    color: ;
}

.touchy-logo-wrapper {

    text-align: center;
}

.touchy-logo-wrapper-bg {
    background-image: url('');
    opacity: ;
}

/* if logo location hidden*/
.touchy-wrapper {
    position: fixed;
    top: 0;
}

.touchy-search-wrapper {
    position: fixed;
    top: 0;
}

.touchy-by-bonfire-wrapper {
    position: fixed;
    top: 65px;
}

/* text labels */
.touchy-wrapper .touchy-back-button::before {
    content: '';
    color: ;
}

.touchy-wrapper .touchy-call-button::before {
    content: '';
    color: ;
    margin-left: -2px;
}

.touchy-wrapper .touchy-email-button::before {
    content: '';
    color: ;
}

.touchy-wrapper .touchy-search-button::before {
    content: '';
    color: ;
}

.touchy-wrapper .touchy-menu-button::before {
    content: '';
    color: ;
}

/* text label hovers (on touch devices only) */
.touchy-wrapper .touchy-back-button:hover::before,
.touchy-wrapper .touchy-call-button:hover::before,
.touchy-wrapper .touchy-email-button:hover::before,
.touchy-wrapper .touchy-search-button:hover::before,
.touchy-wrapper .touchy-menu-button:hover::before {
    color: #fff;
}

.touchy-wrapper .touchy-back-button:hover::before {
    color: ;
}

.touchy-wrapper .touchy-call-button:hover::before {
    color: ;
}

.touchy-wrapper .touchy-email-button:hover::before {
    color: ;
}

.touchy-wrapper .touchy-search-button:hover::before {
    color: ;
}

.touchy-wrapper .touchy-menu-button:hover::before {
    color: ;
}

/* text label colors for search and menu button active states */
.touchy-wrapper .touchy-search-button-active::before {
    color: ;
}

.touchy-wrapper .touchy-menu-button-active::before {
    color: ;
}

/* icon positioning if text label entered */




.touchy-menu-text-label-offset i {
    position: relative;
    top: -3px;
}

/* custom text label font size */
.touchy-wrapper .touchy-back-button::before,
.touchy-wrapper .touchy-call-button::before,
.touchy-wrapper .touchy-email-button::before,
.touchy-wrapper .touchy-search-button::before,
.touchy-wrapper .touchy-menu-button::before {
    font-size: px;
}

/* BACK button */
.touchy-wrapper .touchy-back-button {
    color: ;
    background-color: ;
}

/* CALL button */
.touchy-wrapper .touchy-call-button {
    color: #e9622b;
    background-color: ;
}

/* EMAIL button */
.touchy-wrapper .touchy-email-button {
    color: #e9622b;
    background-color: ;
}

/* SEARCH button */
.touchy-wrapper .touchy-search-button {
    color: #e9622b;
    background-color: ;
}

/* when search button active */
.touchy-search-button-active {
    color:  !important;
    background-color:  !important;
}

.touchy-search-button-active .touchy-default-search-outer {
    -webkit-box-shadow: 0px 0px 0px 2px #fff !important;
    -moz-box-shadow: 0px 0px 0px 2px #fff !important;
    box-shadow: 0px 0px 0px 2px #fff !important;
}

.touchy-search-button-active .touchy-default-search-outer:after,
.touchy-search-button-active .touchy-default-search-inner,
.touchy-search-button-active .touchy-default-search-inner:before,
.touchy-search-button-active .touchy-default-search-inner:after {
    background-color:  !important;
}

/* MENU button */
.touchy-menu-button {
    color: #e9622b;
    background-color: ;
}

.touchy-default-menu,
.touchy-default-menu:before,
.touchy-default-menu:after {
    background-color: #e9622b;
}

/* when menu button active */
.touchy-menu-button-active {
    color: ;
    background-color: ;
}

.touchy-menu-button-active .touchy-default-menu,
.touchy-menu-button-active .touchy-default-menu:before,
.touchy-menu-button-active .touchy-default-menu:after {
    background-color: ;
}

/* show top button hovers on non-touch devices only */
.touchy-back-button:hover,
.touchy-call-button:hover,
.touchy-email-button:hover,
.touchy-search-button:hover,
.touchy-menu-button:hover {
    color: #fff;
    background-color: #07B1FF;
}

.touchy-back-button:hover {
    color: ;
    background-color: ;
}

.touchy-call-button:hover {
    color: ;
    background-color: ;
}

.touchy-email-button:hover {
    color: ;
    background-color: ;
}

.touchy-search-button:hover {
    color: ;
    background-color: ;
}

.touchy-menu-button:hover {
    color: ;
    background-color: ;
}

/* default back button */
.touchy-back-button:hover .touchy-default-back,
.touchy-back-button:hover .touchy-default-back:before,
.touchy-back-button:hover .touchy-default-back:after {
    background-color: #fff;
    ;
}

/* default call icon hovers */
.touchy-call-button:hover .touchy-default-call-one,
.touchy-call-button:hover .touchy-default-call-two,
.touchy-call-button:hover .touchy-default-call-three,
.touchy-call-button:hover .touchy-default-call-one:before,
.touchy-call-button:hover .touchy-default-call-two:before,
.touchy-call-button:hover .touchy-default-call-three:before,
.touchy-call-button:hover .touchy-default-call-one:after,
.touchy-call-button:hover .touchy-default-call-two:after,
.touchy-call-button:hover .touchy-default-call-three:after {
    background-color: #fff;
}

/* default email icon hovers */
.touchy-email-button:hover .touchy-default-email-outer {
    -webkit-box-shadow: 0px 0px 0px 2px #fff;
    -moz-box-shadow: 0px 0px 0px 2px #fff;
    box-shadow: 0px 0px 0px 2px #fff;
}

.touchy-email-button:hover .touchy-default-email-outer:before,
.touchy-email-button:hover .touchy-default-email-outer:after,
.touchy-email-button:hover .touchy-default-email-outer .touchy-default-email-inner:before,
.touchy-email-button:hover .touchy-default-email-outer .touchy-default-email-inner:after {
    background-color: #fff;
}

/* default search icon hovers */
.touchy-search-button:hover .touchy-default-search-outer {
    -webkit-box-shadow: 0px 0px 0px 2px #fff;
    -moz-box-shadow: 0px 0px 0px 2px #fff;
    box-shadow: 0px 0px 0px 2px #fff;
}

.touchy-search-button:hover .touchy-default-search-outer:after,
.touchy-search-button:hover .touchy-default-search-outer .touchy-default-search-inner,
.touchy-search-button:hover .touchy-default-search-outer .touchy-default-search-inner:before,
.touchy-search-button:hover .touchy-default-search-outer .touchy-default-search-inner:after {
    background-color: #fff;
}

/* default menu icon hover */
.touchy-menu-button:hover .touchy-default-menu,
.touchy-menu-button:hover .touchy-default-menu:before,
.touchy-menu-button:hover .touchy-default-menu:after {
    background-color: #fff;
}

/* default back button */
.touchy-default-back,
.touchy-default-back:before,
.touchy-default-back:after {
    background-color: ;
}

/* default call button */
.touchy-default-call-one,
.touchy-default-call-two,
.touchy-default-call-three,
.touchy-default-call-one:before,
.touchy-default-call-two:before,
.touchy-default-call-three:before,
.touchy-default-call-one:after,
.touchy-default-call-two:after,
.touchy-default-call-three:after {
    background-color: #e9622b;
}

/* default email button */
.touchy-email-button .touchy-default-email-outer {
    -webkit-box-shadow: 0px 0px 0px 2px #e9622b;
    -moz-box-shadow: 0px 0px 0px 2px #e9622b;
    box-shadow: 0px 0px 0px 2px #e9622b;
}

.touchy-email-button .touchy-default-email-outer:before,
.touchy-email-button .touchy-default-email-outer:after,
.touchy-email-button .touchy-default-email-outer .touchy-default-email-inner:before,
.touchy-email-button .touchy-default-email-outer .touchy-default-email-inner:after {
    background-color: #e9622b;
}

/* default search button */
.touchy-search-button .touchy-default-search-outer {
    -webkit-box-shadow: 0px 0px 0px 2px #e9622b;
    -moz-box-shadow: 0px 0px 0px 2px #e9622b;
    box-shadow: 0px 0px 0px 2px #e9622b;
}

.touchy-search-button .touchy-default-search-outer:after,
.touchy-search-button .touchy-default-search-outer .touchy-default-search-inner,
.touchy-search-button .touchy-default-search-outer .touchy-default-search-inner:before,
.touchy-search-button .touchy-default-search-outer .touchy-default-search-inner:after {
    background-color: #e9622b;
}

/* menu bar separator */
.touchy-back-button:after,
.touchy-call-button:after,
.touchy-email-button:after,
.touchy-search-button:after {
    background-color: #EBEBEB;
}

/* hide button separators on button hover (on non-touch devices only) */
.touchy-back-button:hover:after,
.touchy-call-button:hover:after,
.touchy-email-button:hover:after,
.touchy-search-button:hover:after {
    opacity: 0;
}

/* search field placeholder color */
input.touchy-search-field::-webkit-input-placeholder {
    color:  !important;
}

input.touchy-search-field:-moz-placeholder {
    color:  !important;
}

input.touchy-search-field::-moz-placeholder {
    color:  !important;
}

/* search field text color */
.touchy-search-wrapper input.touchy-search-field {
    color: ;
}

/* search field 'clear field' button color */
.touchy-clear-search::before,
.touchy-clear-search::after {
    background-color:
}

/* search field background color */
.touchy-search-wrapper input.touchy-search-field {
    background-color: ;
}

/* search button text + background color */
.touchy-search-wrapper input.touchy-search {
    color: ;
    background-color: ;
}

/* accordion + tooltip background, corner radius, menu end marker */
.touchy-by-bonfire {
    border-radius: px;
    border-bottom-width: px;
}

.touchy-menu-tooltip:before {
    border-bottom-color: ;
}

.touchy-by-bonfire {
    background: ;
    border-color: ;
}

/* if tooltip color overridden */
.touchy-menu-tooltip:before {
    border-bottom-color: ;
}

/* sub-menu background */
.touchy-by-bonfire ul.sub-menu {
    background: ;
}

/* horizontal menu item divider */
.touchy-by-bonfire .menu>li,
.touchy-by-bonfire ul.sub-menu>li:first-child {
    border-color: ;
}

/* horizontal menu item divider (sub-menu) */
.touchy-by-bonfire ul li ul li:after {
    background-color: ;
}

/* accordion menu separator */
.touchy-by-bonfire .menu li span {
    border-left-color: ;
}

/* accordion menu separator (sub-menu) */
.touchy-by-bonfire .sub-menu li span {
    border-left-color: ;
}

/* submenu arrow animation */

.touchy-by-bonfire span.touchy-submenu-active span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.touchy-by-bonfire span.touchy-submenu-active span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* accordion menu item */
.touchy-by-bonfire .menu a {
    font-size: px;
    line-height: px;
    font-family: ;
    color: ;
}

.touchy-by-bonfire ul li.current-menu-item>a,
.touchy-by-bonfire .sub-menu .current-menu-item>a {
    color: ;
}

.touchy-by-bonfire .menu a:hover,
.touchy-by-bonfire ul li.current-menu-item a:hover,
.touchy-by-bonfire .menu a:active {
    color: ;
}

/* menu icons */
.touchy-by-bonfire .menu a i {
    font-size: px;
    color: ;
}

.touchy-by-bonfire .sub-menu a i {
    font-size: px;
    color: ;
}

/* menu description */
.touchy-menu-item-description {
    font-size: px;
    line-height: px;
    margin-top: px;
    font-family: ;
    color: ;
}

/* accordion sub-menu item */
.touchy-by-bonfire .sub-menu a {
    color: ;
}

.touchy-by-bonfire .sub-menu a:hover,
.touchy-by-bonfire .sub-menu a:active {
    color: ;
}

/* highlighted menu item */
.touchy-by-bonfire ul li.marker>a {
    border-color: ;
}

/* content overlay color + transparency */
.touchy-overlay {
    background-color: ;
}

.touchy-overlay-active {
    opacity: ;
}

/* menu transparency */
.touchy-wrapper {
    opacity: ;
}

/* hide menubar shadow */

/* widget area background */
.touchy-widgets-wrapper {
    background-color: ;
}

/* absolute positioning */

/* bottom positioning */
.touchy-logo-wrapper {
    z-index: 99992 !important;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
}

.touchy-wrapper {
    position: fixed !important;
    top: auto;
    bottom: 0;
}

.touchy-by-bonfire-wrapper {
    position: fixed !important;
    top: 20px;
    bottom: 65px;
}

.touchy-search-wrapper {
    position: fixed !important;
    top: auto;
    bottom: 0;
}

.touchy-search-wrapper-active {
    -webkit-transform: translateY(-51px);
    -moz-transform: translateY(-51px);
    transform: translateY(-51px);
}

.touchy-by-bonfire {
    position: absolute;
    top: auto;
    bottom: 0;
    border-width: 3px 0 0 0;
}

.touchy-menu-tooltip:before {
    top: -15px;
    border-bottom: 0;
    border-top: 6px solid #fff;
    border-top-color: ;
}

.touchy-by-bonfire {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

/* hide logo area background shadow */

/* accordion expand icon */
.touchy-by-bonfire .touchy-sub-arrow-inner:before,
.touchy-by-bonfire .touchy-sub-arrow-inner:after {
    background-color: ;
}

/* accordion expand icon (sub-menu) */
.touchy-by-bonfire .sub-menu li .touchy-sub-arrow-inner:before,
.touchy-by-bonfire .sub-menu li .touchy-sub-arrow-inner:after {
    background-color: ;
}

/* show sub-menu arrow hover colors on non-touch devices only */
.touchy-by-bonfire .touchy-sub-arrow:hover .touchy-sub-arrow-inner:before,
.touchy-by-bonfire .touchy-sub-arrow:hover .touchy-sub-arrow-inner:after {
    background-color: #777;
}

/* accordion expand icon hover */
.touchy-by-bonfire .touchy-sub-arrow:hover .touchy-sub-arrow-inner:before,
.touchy-by-bonfire .touchy-sub-arrow:hover .touchy-sub-arrow-inner:after {
    background-color: ;
}

/* accordion expand icon hover (sub-menu) */
.touchy-by-bonfire .sub-menu li .touchy-sub-arrow:hover .touchy-sub-arrow-inner:before,
.touchy-by-bonfire .sub-menu li .touchy-sub-arrow:hover .touchy-sub-arrow-inner:after {
    background-color: ;
}

/* full menu item menu */
.touchy-by-bonfire .menu .full-item-arrow-hover>.touchy-sub-arrow .touchy-sub-arrow-inner::before,
.touchy-by-bonfire .menu .full-item-arrow-hover>.touchy-sub-arrow .touchy-sub-arrow-inner::after,
.touchy-by-bonfire .menu>li>span.touchy-submenu-active .touchy-sub-arrow-inner::before,
.touchy-by-bonfire .menu>li>span.touchy-submenu-active .touchy-sub-arrow-inner::after {
    background-color: ;
}

/* full menu item sub-menu */
.touchy-by-bonfire .sub-menu .full-item-arrow-hover>.touchy-sub-arrow .touchy-sub-arrow-inner::before,
.touchy-by-bonfire .sub-menu .full-item-arrow-hover>.touchy-sub-arrow .touchy-sub-arrow-inner::after,
.touchy-by-bonfire .sub-menu>li>span.touchy-submenu-active .touchy-sub-arrow-inner::before,
.touchy-by-bonfire .sub-menu>li>span.touchy-submenu-active .touchy-sub-arrow-inner::after {
    background-color: ;
}

/* if submenu arrow divider is hidden */

/* push down Touchy if WordPress toolbar is active */

/* hide touchy between resolutions */
@media (min-width:500px) and (max-width:5000px) {

    .touchy-logo-wrapper,
    .touchy-search-wrapper,
    .touchy-wrapper,
    .touchy-overlay,
    .touchy-by-bonfire {
        display: none !important;
    }
}
.fluidvids {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.fluidvids-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#housemed-mikado-woo-inline-css {
    .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
    .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
        padding: 0px;
    }

    @media only screen and (max-width: 1024px) {

        .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
        .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
            padding: 0px;
        }
    }

    .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
    .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
        padding: 0px;
    }

    @media only screen and (max-width: 1024px) {

        .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-container>.mkdf-container-inner,
        .page-id-5805 .mkdf-content .mkdf-content-inner>.mkdf-full-width>.mkdf-full-width-inner {
            padding: 0px;
        }
    }

    .page-id-5805 h1 a:hover,
    .page-id-5805 h2 a:hover,
    .page-id-5805 h3 a:hover,
    .page-id-5805 h4 a:hover,
    .page-id-5805 h5 a:hover,
    .page-id-5805 h6 a:hover,
    .page-id-5805 a:hover,
    .page-id-5805 p a:hover,
    .page-id-5805 .mkdf-housemed-loader svg.mkdf-housemed-loader-pulse,
    .page-id-5805 .mkdf-comment-holder .mkdf-comment-text .comment-edit-link:hover,
    .page-id-5805 .mkdf-comment-holder .mkdf-comment-text .comment-reply-link:hover,
    .page-id-5805 .mkdf-comment-holder .mkdf-comment-text .replay:hover,
    .page-id-5805 .mkdf-comment-holder .mkdf-comment-text #cancel-comment-reply-link:hover,
    .page-id-5805 .mkdf-comment-holder .mkdf-comment-text .comment-respond .logged-in-as a:hover,
    .page-id-5805 footer .widget ul li a:hover,
    .page-id-5805 footer .widget #wp-calendar tfoot a:hover,
    .page-id-5805 footer .widget.widget_search .input-holder button:hover,
    .page-id-5805 footer .widget.widget_tag_cloud a:hover,
    .page-id-5805 footer .widget.widget_mkdf_twitter_widget .mkdf-twitter-widget li.mkdf-tweet-holder .mkdf-tweet-text a:hover,
    .page-id-5805 footer .widget.mkdf-blog-list-widget .mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .entry-title.mkdf-post-title a:hover,
    .page-id-5805 footer .widget.mkdf-blog-list-widget .mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a:hover,
    .page-id-5805 footer .widget .footer-custom-menu ul li a:hover,
    .page-id-5805 footer .widget .mkdf-iwt .mkdf-iwt-icon a,
    .page-id-5805 footer .widget .mkdf-iwt .mkdf-iwt-icon,
    .page-id-5805 footer .widget .mkdf-iwt span.mkdf-iwt-title a:hover,
    .page-id-5805 footer .widget.mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder:hover,
    .page-id-5805 .mkdf-fullscreen-sidebar .widget ul li a:hover,
    .page-id-5805 .mkdf-fullscreen-sidebar .widget #wp-calendar tfoot a:hover,
    .page-id-5805 .mkdf-fullscreen-sidebar .widget.widget_search .input-holder button:hover,
    .page-id-5805 .mkdf-fullscreen-sidebar .widget.widget_tag_cloud a:hover,
    .page-id-5805 .mkdf-side-menu .widget ul li a:hover,
    .page-id-5805 .mkdf-side-menu .widget #wp-calendar tfoot a:hover,
    .page-id-5805 .mkdf-side-menu .widget.widget_search .input-holder button:hover,
    .page-id-5805 .mkdf-side-menu .widget.widget_tag_cloud a:hover,
    .page-id-5805 .mkdf-side-menu .mkdf-social-icons-group-widget .mkdf-social-icon-widget-holder:hover,
    .page-id-5805 .mkdf-side-menu .widget .textwidget a:hover,
    .page-id-5805 .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover,
    .page-id-5805 .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover,
    .page-id-5805 .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover,
    .page-id-5805 .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover,
    .page-id-5805 .mkd-ttevents-single .mkd-event-single-icon,
    .page-id-5805 .mkd-ttevents-single .tt_event_items_list li.type_info .tt_event_text,
    .page-id-5805 .mkd-ttevents-single .tt_event_items_list li:not(.type_info):before,
    .page-id-5805 .mkdf-blog-holder article.sticky .mkdf-post-title a,
    .page-id-5805 .mkdf-blog-holder article .mkdf-post-info-top>div a:hover,
    .page-id-5805 .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right a i,
    .page-id-5805 .mkdf-blog-holder article .mkdf-post-info-bottom a:hover,
    .page-id-5805 .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a,
    .page-id-5805 .mkdf-blog-pagination ul li a.mkdf-pag-active,
    .page-id-5805 .mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover,
    .page-id-5805 .mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover,
    .page-id-5805 .mkdf-blog-single-navigation .mkdf-blog-single-next:hover,
    .page-id-5805 .mkdf-blog-single-navigation .mkdf-blog-single-prev:hover,
    .page-id-5805 .mkdf-single-links-pages .mkdf-single-links-pages-inner>span,
    .page-id-5805 .mkdf-blog-list-holder .mkdf-bli-info>div a:hover,
    .page-id-5805 .mkdf-drop-down .second .inner ul li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-drop-down .second .inner ul li.current-menu-item>a,
    .page-id-5805 .mkdf-drop-down .second .inner ul li:hover>a,
    .page-id-5805 .mkdf-top-bar .widget a:hover,
    .page-id-5805 .mkdf-main-menu ul li a:hover,
    .page-id-5805 .mkdf-main-menu ul li a .menu_icon_wrapper,
    .page-id-5805 .mkdf-main-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu>ul>li>a:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu>ul>li>a:hover,
    .page-id-5805 .mkdf-drop-down .wide .second .inner>ul>li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-drop-down .wide .second .inner>ul>li.current-menu-item>a,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover,
    .page-id-5805 nav.mkdf-fullscreen-menu ul li ul li.current-menu-ancestor>a,
    .page-id-5805 nav.mkdf-fullscreen-menu ul li ul li.current-menu-item>a,
    .page-id-5805 nav.mkdf-fullscreen-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-header-vertical .mkdf-vertical-menu ul li a:hover,
    .page-id-5805 .mkdf-header-vertical .mkdf-vertical-menu ul li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-header-vertical .mkdf-vertical-menu ul li.current-menu-item>a,
    .page-id-5805 .mkdf-header-vertical .mkdf-vertical-menu ul li.current_page_item>a,
    .page-id-5805 .mkdf-header-vertical .mkdf-vertical-menu ul li.mkdf-active-item>a,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul li a:hover,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li a:hover,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li h6:hover,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor>h6,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item>a,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item>h6,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li.mkdf-active-item>h6,
    .page-id-5805 .mkdf-search-page-holder article.sticky .mkdf-post-title a,
    .page-id-5805 .mkdf-search-cover .mkdf-search-close:hover,
    .page-id-5805 .mkdf-side-menu-button-opener.opened,
    .page-id-5805 .mkdf-side-menu-button-opener:hover,
    .page-id-5805 .mkdf-side-menu a.mkdf-close-side-menu:hover,
    .page-id-5805 .mkdf-booking-form.light .mkdf-bf-form-button .mkdf-btn.mkdf-btn-small,
    .page-id-5805 .mkdf-pl-filter-holder ul li.mkdf-pl-current span,
    .page-id-5805 .mkdf-pl-filter-holder ul li:hover span,
    .page-id-5805 .mkdf-pl-standard-pagination ul li.mkdf-pl-pag-active a,
    .page-id-5805 .mkdf-portfolio-list-holder.mkdf-pl-gallery-overlay article .mkdf-pli-text .mkdf-pli-category-holder a:hover,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-nav-light-skin .owl-nav .owl-next:hover,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-nav-light-skin .owl-nav .owl-prev:hover,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-nav-dark-skin .owl-nav .owl-next:hover,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-nav-dark-skin .owl-nav .owl-prev:hover,
    .page-id-5805 .mkdf-testimonials-holder.mkdf-testimonials-image-pagination .mkdf-testimonials-image-pagination-inner .mkdf-testimonials-author-job,
    .page-id-5805 .mkdf-testimonials-holder.mkdf-testimonials-image-pagination.mkdf-testimonials-light .owl-nav .owl-next:hover,
    .page-id-5805 .mkdf-testimonials-holder.mkdf-testimonials-image-pagination.mkdf-testimonials-light .owl-nav .owl-prev:hover,
    .page-id-5805 .mkdf-testimonials-holder.mkdf-testimonials-standard .mkdf-testimonial-quote i,
    .page-id-5805 .mkdf-reviews-per-criteria .mkdf-item-reviews-average-rating,
    .page-id-5805 .mkdf-banner-holder .mkdf-banner-link-text .mkdf-banner-link-hover span,
    .page-id-5805 .mkdf-btn.mkdf-btn-outline,
    .page-id-5805 .mkdf-icon-list-holder .mkdf-il-icon-holder>*,
    .page-id-5805 .mkdf-info-list .mkdf-info-list-item:hover .mkdf-ili-left,
    .page-id-5805 .mkdf-info-list .mkdf-info-list-item .mkdf-info-list-item-inner:hover .mkdf-ili-title,
    .page-id-5805 .mkdf-interactive-banner-holder .mkdf-interactive-banner-icon,
    .page-id-5805 .mkdf-social-share-holder.mkdf-dropdown .mkdf-social-share-dropdown-opener:hover,
    .page-id-5805 .mkdf-twitter-list-holder .mkdf-twitter-icon,
    .page-id-5805 .mkdf-twitter-list-holder .mkdf-tweet-text a:hover,
    .page-id-5805 .mkdf-twitter-list-holder .mkdf-twitter-profile a:hover,
    .page-id-5805 .widget.widget_mkdf_twitter_widget .mkdf-twitter-widget li .mkdf-twitter-icon,
    .page-id-5805 .widget.widget_mkdf_twitter_widget .mkdf-twitter-widget li .mkdf-tweet-text a:hover,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli .mkdf-pli-rating,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-rating,
    .page-id-5805 .mkdf-pls-holder .mkdf-pls-text .mkdf-pls-rating,
    .page-id-5805 .mkdf-product-info .mkdf-pi-rating,
    .page-id-5805 .mkdf-woo-single-page .woocommerce-tabs #reviews .comment-respond .stars a.active:after,
    .page-id-5805 .mkdf-woo-single-page .woocommerce-tabs #reviews .comment-respond .stars a:before,
    .page-id-5805 .woocommerce .star-rating,
    .page-id-5805 .woocommerce-pagination .page-numbers:not(.prev):not(.next).current,
    .page-id-5805 .woocommerce-pagination .page-numbers:not(.prev):not(.next):hover,
    .page-id-5805 .woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-minus:hover,
    .page-id-5805 .woocommerce-page .mkdf-content .mkdf-quantity-buttons .mkdf-quantity-plus:hover,
    .page-id-5805 div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-minus:hover,
    .page-id-5805 div.woocommerce .mkdf-quantity-buttons .mkdf-quantity-plus:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-shopping-cart-holder .mkdf-header-cart:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-shopping-cart-holder .mkdf-header-cart:hover,
    .page-id-5805 .widget.woocommerce.widget_layered_nav ul li.chosen a,
    .page-id-5805 .mkdf-plc-holder.mkdf-plc-nav-light-skin .owl-nav .owl-next:hover,
    .page-id-5805 .mkdf-plc-holder.mkdf-plc-nav-light-skin .owl-nav .owl-prev:hover {
        color: #e9622b;
    }

    .page-id-5805 .mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info>div a:hover,
    .page-id-5805 .mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-info>div a:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li a:hover,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-item>a,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current_page_item>a,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu>ul>li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-light-header.mkdf-header-vertical .mkdf-vertical-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li a:hover,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current-menu-item>a,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu ul li ul li.current_page_item>a,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu>ul>li.current-menu-ancestor>a,
    .page-id-5805 .mkdf-dark-header.mkdf-header-vertical .mkdf-vertical-menu>ul>li.mkdf-active-item>a,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
    .page-id-5805 .mkdf-light-header .mkdf-top-bar .mkdf-search-opener:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-top-bar .mkdf-search-opener:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
    .page-id-5805 .mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
    .page-id-5805 .mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
    .page-id-5805 .mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-icon-widget-holder:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-icon-widget-holder:hover,
    .page-id-5805 .mkdf-dark-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-social-icon-widget-holder:hover,
    .page-id-5805 .mkdf-light-header .mkdf-page-header>div:not(.mkdf-sticky-header):not(.fixed) .mkdf-social-icon-widget-holder:hover {
        color: #e9622b !important;
    }

    .page-id-5805 .mkdf-st-loader .pulse,
    .page-id-5805 .mkdf-st-loader .double_pulse .double-bounce1,
    .page-id-5805 .mkdf-st-loader .double_pulse .double-bounce2,
    .page-id-5805 .mkdf-st-loader .cube,
    .page-id-5805 .mkdf-st-loader .rotating_cubes .cube1,
    .page-id-5805 .mkdf-st-loader .rotating_cubes .cube2,
    .page-id-5805 .mkdf-st-loader .stripes>div,
    .page-id-5805 .mkdf-st-loader .wave>div,
    .page-id-5805 .mkdf-st-loader .two_rotating_circles .dot1,
    .page-id-5805 .mkdf-st-loader .two_rotating_circles .dot2,
    .page-id-5805 .mkdf-st-loader .five_rotating_circles .container1>div,
    .page-id-5805 .mkdf-st-loader .five_rotating_circles .container2>div,
    .page-id-5805 .mkdf-st-loader .five_rotating_circles .container3>div,
    .page-id-5805 .mkdf-st-loader .atom .ball-1:before,
    .page-id-5805 .mkdf-st-loader .atom .ball-2:before,
    .page-id-5805 .mkdf-st-loader .atom .ball-3:before,
    .page-id-5805 .mkdf-st-loader .atom .ball-4:before,
    .page-id-5805 .mkdf-st-loader .clock .ball:before,
    .page-id-5805 .mkdf-st-loader .mitosis .ball,
    .page-id-5805 .mkdf-st-loader .lines .line1,
    .page-id-5805 .mkdf-st-loader .lines .line2,
    .page-id-5805 .mkdf-st-loader .lines .line3,
    .page-id-5805 .mkdf-st-loader .lines .line4,
    .page-id-5805 .mkdf-st-loader .fussion .ball,
    .page-id-5805 .mkdf-st-loader .fussion .ball-1,
    .page-id-5805 .mkdf-st-loader .fussion .ball-2,
    .page-id-5805 .mkdf-st-loader .fussion .ball-3,
    .page-id-5805 .mkdf-st-loader .fussion .ball-4,
    .page-id-5805 .mkdf-st-loader .wave_circles .ball,
    .page-id-5805 .mkdf-st-loader .pulse_circles .ball,
    .page-id-5805 #submit_comment,
    .page-id-5805 .post-password-form input[type=submit],
    .page-id-5805 input.wpcf7-form-control.wpcf7-submit,
    .page-id-5805 #mkdf-back-to-top>span,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover,
    .page-id-5805 .tt_tabs .tt_tabs_navigation li a,
    .page-id-5805 .widget.upcoming_events_widget .tt_upcoming_event_controls a:hover,
    .page-id-5805 .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls>.mejs-time-rail .mejs-time-total .mejs-time-current,
    .page-id-5805 .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls>a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .page-id-5805 .mkdf-search-fade .mkdf-fullscreen-with-sidebar-search-holder .mkdf-fullscreen-search-table,
    .page-id-5805 .mkdf-social-icons-group-widget.mkdf-square-icons .mkdf-social-icon-widget-holder:hover,
    .page-id-5805 .mkdf-social-icons-group-widget.mkdf-square-icons.mkdf-light-skin .mkdf-social-icon-widget-holder:hover,
    .page-id-5805 .mkdf-doctors-single-holder .mkdf-ds-bio-holder .mkdf-contact-info.mkdf-book-now,
    .page-id-5805 .mkdf-booking-form,
    .page-id-5805 .mkdf-booking-form.light,
    .page-id-5805 .widget_mkd_booking_form_widget,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_calendar td:hover,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover,
    .page-id-5805 .mkdf-doctor.info-bellow .mkdf-doctor-title-image .mkdf-doctor-image .mkdf-circle-animate,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-pag-light-skin .owl-dots .owl-dot.active span,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-pag-light-skin .owl-dots .owl-dot:hover span,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-pag-dark-skin .owl-dots .owl-dot.active span,
    .page-id-5805 .mkdf-portfolio-slider-holder .mkdf-portfolio-list-holder.mkdf-pag-dark-skin .owl-dots .owl-dot:hover span,
    .page-id-5805 .mkdf-accordion-holder.mkdf-ac-boxed .mkdf-accordion-title.ui-state-active,
    .page-id-5805 .mkdf-accordion-holder.mkdf-ac-boxed .mkdf-accordion-title.ui-state-hover,
    .page-id-5805 .mkdf-btn.mkdf-btn-solid,
    .page-id-5805 .no-touch .mkdf-horizontal-timeline .mkdf-events-wrapper .mkdf-events a:hover .circle-outer,
    .page-id-5805 .mkdf-horizontal-timeline .mkdf-events-wrapper .mkdf-events a.selected .circle-outer,
    .page-id-5805 .mkdf-icon-shortcode.mkdf-circle,
    .page-id-5805 .mkdf-icon-shortcode.mkdf-dropcaps.mkdf-circle,
    .page-id-5805 .mkdf-icon-shortcode.mkdf-square,
    .page-id-5805 .mkdf-interactive-banner-holder.mkdf-interactive-banner-light-theme .mkdf-interactive-banner-overlay,
    .page-id-5805 .mkdf-progress-bar .mkdf-pb-content-holder .mkdf-pb-content,
    .page-id-5805 .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li.ui-state-active a,
    .page-id-5805 .mkdf-tabs.mkdf-tabs-standard .mkdf-tabs-nav li.ui-state-hover a,
    .page-id-5805 .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li.ui-state-active a,
    .page-id-5805 .mkdf-tabs.mkdf-tabs-boxed .mkdf-tabs-nav li.ui-state-hover a,
    .page-id-5805 .mkdf-video-button-holder.mkdf-vb-has-img .mkdf-video-button-play .mkdf-video-button-play-inner .mkdf-video-button-circle,
    .page-id-5805 .mkdf-video-button-holder.mkdf-vb-has-img .mkdf-video-button-play-image .mkdf-video-button-play-inner .mkdf-video-button-circle,
    .page-id-5805 .woocommerce-page .mkdf-content .wc-forward:not(.added_to_cart):not(.checkout-button),
    .page-id-5805 .woocommerce-page .mkdf-content a.added_to_cart,
    .page-id-5805 .woocommerce-page .mkdf-content a.button,
    .page-id-5805 .woocommerce-page .mkdf-content button[type=submit]:not(.mkdf-woo-search-widget-button):not(.mkdf-search-submit),
    .page-id-5805 .woocommerce-page .mkdf-content input[type=submit]:not(.wpcf7-submit),
    .page-id-5805 div.woocommerce .wc-forward:not(.added_to_cart):not(.checkout-button),
    .page-id-5805 div.woocommerce a.added_to_cart,
    .page-id-5805 div.woocommerce a.button,
    .page-id-5805 div.woocommerce button[type=submit]:not(.mkdf-woo-search-widget-button):not(.mkdf-search-submit),
    .page-id-5805 div.woocommerce input[type=submit]:not(.wpcf7-submit),
    .page-id-5805 .mkdf-shopping-cart-holder .mkdf-header-cart .mkdf-cart-number,
    .page-id-5805 .mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-checkout,
    .page-id-5805 .mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-view-cart,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-default-skin .added_to_cart,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-default-skin .button,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-light-skin .added_to_cart:hover,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-light-skin .button:hover,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-dark-skin .added_to_cart:hover,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-add-to-cart.mkdf-dark-skin .button:hover,
    .page-id-5805 .mkdf-plc-holder.mkdf-plc-pag-light-skin .owl-dots .owl-dot span,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-text-inner .mkdf-pli-add-to-cart.mkdf-light-skin .added_to_cart:hover,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-text-inner .mkdf-pli-add-to-cart.mkdf-light-skin .button:hover,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-text-inner .mkdf-pli-add-to-cart.mkdf-dark-skin .added_to_cart:hover,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-text-inner .mkdf-pli-add-to-cart.mkdf-dark-skin .button:hover {
        background-color: #e9622b;
    }

    .page-id-5805 .xdsoft_datetimepicker .xdsoft_calendar td:hover,
    .page-id-5805 .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover,
    .page-id-5805 .mkdf-btn.mkdf-btn-outline:not(.mkdf-btn-custom-hover-bg):hover {
        background-color: #e9622b !important;
    }

    .page-id-5805 .mkdf-st-loader .pulse_circles .ball,
    .page-id-5805 .mkdf-owl-slider+.mkdf-slider-thumbnail>.mkdf-slider-thumbnail-item.active img,
    .page-id-5805 #mkdf-back-to-top>span,
    .page-id-5805 .widget.upcoming_events_widget .tt_upcoming_event_controls a:hover,
    .page-id-5805 .mkdf-btn.mkdf-btn-outline,
    .page-id-5805 .mkdf-separator,
    .page-id-5805 .mkdf-main-menu .mkdf-main-menu-line {
        border-color: #e9622b;
    }

    .page-id-5805 .tt_tabs .tt_tabs_navigation li a,
    .page-id-5805 .mkdf-btn.mkdf-btn-outline:not(.mkdf-btn-custom-border-hover):hover {
        border-color: #e9622b !important;
    }

    .page-id-5805 blockquote:before,
    .page-id-5805 footer .widget .mkdf-working-hours-holder .mkdf-wh-icon-holder span.mkdf-wh-icon,
    .page-id-5805 .mkdf-blog-holder article .mkdf-post-info-top,
    .page-id-5805 .mkdf-doctors-single-holder .mkdf-ds-info-row .mkdf-ds-bio-icon,
    .page-id-5805 .mkdf-testimonials-holder.mkdf-testimonials-standard .mkdf-testimonial-author .mkdf-testimonials-author-job,
    .page-id-5805 .widget.woocommerce.widget_product_search .woocommerce-product-search button:hover {
        color: #e9622b;
    }

    .page-id-5805 table.tt_timetable .event .after_hour_text,
    .page-id-5805 table.tt_timetable .event .event_header,
    .page-id-5805 table.tt_timetable .event a,
    .page-id-5805 table.tt_timetable .event a.event_header:hover,
    .page-id-5805 table.tt_timetable .event a:hover,
    .page-id-5805 .tt_responsive .tt_timetable.small .tt_items_list a {
        color: #e9622b !important;
    }

    .page-id-5805 table.tt_timetable .tt_tooltip_content,
    .page-id-5805 .mkdf-blog-holder article.format-link .mkdf-post-text,
    .page-id-5805 .mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bli-content .mkdf-post-info-category,
    .page-id-5805 .mkdf-doctors-single-holder .mkdf-booking-form-single,
    .page-id-5805 .mkdf-price-table .mkdf-pt-inner .mkdf-active-text span,
    .page-id-5805 .mkdf-working-hours-holder,
    .page-id-5805 .mkdf-working-hours-holder .mkdf-wh-icon-holder,
    .page-id-5805 .woocommerce .mkdf-onsale,
    .page-id-5805 .woocommerce .mkdf-new-product,
    .page-id-5805 .mkdf-woo-single-page .woocommerce-tabs ul.tabs>li.active,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-image-outer .mkdf-plc-image .mkdf-plc-onsale,
    .page-id-5805 .mkdf-plc-holder .mkdf-plc-item .mkdf-plc-image-outer .mkdf-plc-image .mkdf-plc-new-product,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-image .mkdf-pli-onsale,
    .page-id-5805 .mkdf-pl-holder .mkdf-pli-inner .mkdf-pli-image .mkdf-pli-new-product {
        background-color: #e9622b;
    }

    .page-id-5805 table.tt_timetable .tt_tooltip .tt_tooltip_arrow,
    .page-id-5805 .widget.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle {
        border-color: #e9622b;
    }
}